.body {
  background-color: #F5F5F5;
}

.navegador {
  background-color: #494E55;
}
.navegador-contenedor {
  padding: 10px;
  background-color: #494E55;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navegador-contenedor li {
  font-size: 15px;
  font-weight: 200;
  margin: 10px;
  color: #F0F0F0;
  list-style: none;
}

footer {
  background-color: #494E55;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contenedor img {
  margin: 8px;
  height: 30px;
  width: auto;
}

.titulo-home {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 5px;
}
.titulo-home h2 {
  font-size: 40px;
  font-family: Martel;
  color: #494E55;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo-sub-titulo span {
  color: #494E55;
  text-align: center;
  font-weight: 100;
}

.linea {
  display: flex;
  justify-content: center;
}
.linea-central {
  height: 1px;
  width: 10%;
  background-color: #AE4F68;
  border-color: transparent;
  align-items: center;
}

.seccion {
  margin-top: 60px;
}
.seccion-titulo {
  justify-content: center;
  display: flex;
  font-family: Martel;
  text-transform: uppercase;
}
.seccion-imagenes {
  width: 50%;
  height: auto;
  justify-content: center;
  display: flex;
}
.seccion-imagenes-2 {
  width: 75%;
  height: auto;
  justify-content: center;
  display: flex;
}

.perfil {
  display: flex;
  margin-top: 90px;
  margin-bottom: 150px;
}
.perfil-foto {
  margin-right: 100px;
}
.perfil-foto img {
  height: auto;
  width: 600px;
}
.perfil-info {
  align-items: center;
  margin-top: 30px;
}
.perfil-info h5 {
  font-family: Martel;
  font-size: 30px;
  text-transform: uppercase;
}
.perfil-info-texto p {
  padding-right: 200px;
}

.boton-cv {
  background-color: #AE4F68;
  color: #F0F0F0;
  border-radius: 20px;
  padding: 8px 18px;
}
.boton-cv:hover {
  background-color: #494E55;
  color: #F0F0F0;
}

.titulo-seccion {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 5px;
}
.titulo-seccion h2 {
  font-size: 35px;
  font-family: Martel;
  color: #494E55;
  text-transform: uppercase;
}

.seccion-subtitulo {
  color: #494E55;
  font-weight: 400;
  margin-bottom: 0;
}

.cl-effect-14 a {
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: 200;
  color: #F0F0F0;
  list-style: none;
  padding: 0 20px;
  height: 45px;
  line-height: 45px;
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
  position: absolute;
  width: 45px;
  height: 2px;
  background: #fff;
  opacity: 0.2;
  transition: all 0.3s;
  pointer-events: none;
}

.cl-effect-14 a::before {
  top: 0;
  left: 0;
  transform: rotate(90deg);
  transform-origin: 0 0;
}

.cl-effect-14 a::after {
  right: 0;
  bottom: 0;
  transform: rotate(90deg);
  transform-origin: 100% 0;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after {
  opacity: 1;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before {
  left: 50%;
  transform: rotate(0deg) translateX(-50%);
}

.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after {
  right: 50%;
  transform: rotate(0deg) translateX(50%);
}/*# sourceMappingURL=style.css.map */