.body {
  background-color: #F5F5F5;
}

.navegador {
  background-color: #494E55;
  width: 100%;
  height: 70%;
}
.navegador-contenedor {
  padding: 10px;
  background-color: #494E55;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navegador-contenedor a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 200;
  margin: 10px;
  color: #F0F0F0;
  list-style: none;
  transition: color;
}
.navegador-contenedor a:hover {
  color: #AE4F68;
}

footer {
  background-color: #494E55;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .contenedor img {
  margin: 8px;
  height: 30px;
  width: auto;
}

.titulo-home {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 5px;
}
.titulo-home h2 {
  font-size: 40px;
  font-family: Martel;
  color: #494E55;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo-sub-titulo span {
  color: #494E55;
  text-align: center;
  font-weight: 100;
}

.linea {
  display: flex;
  justify-content: center;
}
.linea-central {
  height: 1px;
  width: 10%;
  background-color: #AE4F68;
  border-color: transparent;
  align-items: center;
}

.seccion {
  margin-top: 60px;
}
.seccion-titulo {
  justify-content: center;
  display: flex;
  font-family: Martel;
  text-transform: uppercase;
}
.seccion-imagenes {
  width: 50%;
  height: auto;
  justify-content: center;
  display: flex;
}
.seccion-imagenes-2 {
  width: 75%;
  height: auto;
  justify-content: center;
  display: flex;
}
.seccion-imagenes-fondo {
  position: absolute;
  z-index: 1;
  align-items: center;
}

.perfil {
  display: flex;
  margin-top: 90px;
  margin-bottom: 150px;
}
.perfil-foto {
  margin-right: 100px;
}
.perfil-foto img {
  height: auto;
  width: 600px;
}
.perfil-info {
  align-items: center;
  margin-top: 30px;
}
.perfil-info h5 {
  font-family: Martel;
  font-size: 30px;
  text-transform: uppercase;
}
.perfil-info-texto p {
  padding-right: 200px;
}

.boton-cv {
  background-color: #AE4F68;
  color: #F0F0F0;
  border-radius: 20px;
  padding: 8px 18px;
}
.boton-cv:hover {
  background-color: #494E55;
  color: #F0F0F0;
}

.titulo-seccion {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 5px;
}
.titulo-seccion h2 {
  font-size: 35px;
  font-family: Martel;
  color: #494E55;
  text-transform: uppercase;
}

.seccion-subtitulo {
  color: #494E55;
  font-weight: 400;
  margin-bottom: 0;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 450px;
  margin-right: 200px;
  margin-left: 170px;
  padding-top: 50px;
  grid-gap: 20px;
}
.galeria-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galeria-item:nth-child(7) {
  grid-column-start: span 1;
  width: 100px;
  height: 20px;
}

.galeria-item:nth-child(1) {
  padding: -400px;
}

.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
  color: #F0F0F0;
  margin-right: 10px;
  content: "[";
  transform: translateX(20px);
}

.cl-effect-1 a::after {
  color: #F0F0F0;
  margin-left: 10px;
  content: "]";
  transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  transform: translateX(0px);
}/*# sourceMappingURL=style.css.map */