.body{
    background-color:#F5F5F5 ;
}


.navegador {
    background-color: $colorgris;
    width: 100%;
    height: 70%;
    &-contenedor {
    
        padding: 10px;
        background-color: $colorgris;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            text-decoration: none;
            font-size: 18px;
            font-weight: 200;
            margin: 10px;
            color: $colorblanco;
            list-style: none;
            transition: color;
            
            &:hover{
                color: #AE4F68;
            }
        }
    }
}

